.carousel {
  display: flex;
  height: 70%;
  max-width: 1000px;
  margin: 40px auto;
  overflow-x: hidden;

  position: relative;

  gap: 1rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Subtle depth */
  border-radius: 8px;
}

.carousel-image {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: fill;
  transition: transform 0.4s ease-in-out;
}

/* .prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 18px;
  opacity: 0.7; /* Appear on hover 
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  opacity: 1;
}

.prev-button {
  left: 15px;
}
.next-button {
  right: 15px;
} */
