#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
}

header {
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
}

.logo {
  width: 20vw;
  aspect-ratio: 1/2;
  mix-blend-mode: color;
}

.header {
  grid-area: header;
}

.about {
  grid-area: main;
}

/* Media Queries */

@media (max-width: 768px) {
  /* Styles for screens up to 768px wide */


  .logo {
    width: 15vw;
  }
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  header {
    font-size: clamp(0.5rem, 2vw, 1rem);
  }

  .logo {
    width: 50vw;
  }
}
