#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
}
header {
  height: 100svh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: clamp(0.5rem, 2vw, 1rem);
}
.content {
  height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: clamp(0.5rem, 0.5rem + 2.5vw, 1.5rem);
}
.content h1 {
  font-size: clamp(1rem, 1rem + 3vw, 3rem);
}
.content p {
  text-align: justify;
  font-size: clamp(0.5rem, 1.25rem + 1vw, 3rem);
}
.logo {
  width: 50vw;
}
.container {
  height: 60svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.6rem;
  gap: 2.6rem;
}
/* Media Queries */

@media screen and (width >= 576px) {
  header {
    height: 100svh;
  }
  .content {
    height: 25svh;
  }
  .logo {
    width: 35svw;
  }
}
@media screen and (width > 999px) {
  header {
    min-height: 100svh;
  }
  .content {
    height: 50svh;
    justify-content: center;
    gap: 3rem;
  }
  .logo {
    width: 20svw;
    cursor: pointer;
  }
}
/* Styles for screens up to 480px wide */

/* Style links, copyright text, etc. as needed */
